#salah_times_wrapper{
    margin: auto;
}
.salahtime-warpper-ul{
    margin: auto;
    list-style: none;
    padding: 0;
    justify-items: center;
    max-width: 400px;
}
.salahtime-warpper-ul li{

    padding: 10px;
    height: 10px;
    border-radius: 10px;
    width: 100%;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    background:linear-gradient(90deg ,#cbea89, #e0efa5);
    margin-bottom: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}